<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">

	<!-- BEGIN SIDEBAR MENU -->
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div> 
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li>
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search">
				<div class="input-box">
					<a href="javascript:;" class="remove"></a> 
					<input type="text" placeholder="Search..." /> 
					<input type="button" class="submit"	value=" " />
				</div>
			</form> 
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="start active "><a href="index.html"> 
				<i class="icon-home"></i> 
				<span class="title">${i18n("nav.dashboard")}</span> 
				<span class="selected"></span>
		</a></li>
		
		<li class="">
			<a href="javascript:;"> 
				<i class="icon-briefcase"></i> 
				<span class="title">${i18n("nav.push")}</span> 
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li><a href="maps_google.html">${i18n("nav.push.user")}</a></li>
				<li><a href="maps_vector.html">${i18n("nav.push.push")}</a></li>
			</ul>
		</li>
		
		<li class=""><a href="javascript:;"> <i class="icon-user"></i>
				<span class="title">${i18n("nav.userAuthority")}</span> <span class="arrow "></span>
		</a>
			<ul class="sub-menu">
				<li><a href="login.html">${i18n("nav.userAuthority.user")}</a></li>
				<li><a href="login_soft.html">${i18n("nav.userAuthority.authority")}</a></li>
			</ul>
		</li>
		
		<li class="">
			<a href="javascript:;"> 
				<i class="icon-bar-chart"></i> 
				<span class="title">${i18n("nav.statCharts")}</span> 
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li><a href="maps_google.html"> Google Maps</a></li>
				<li><a href="maps_vector.html"> Vector Maps</a></li>
			</ul>
		</li>
		
		<li class="">
			<a href="javascript:;"> 
				<i class="icon-cogs"></i> 
				<span class="title">${i18n("nav.setting")}</span> 
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li><a href="maps_google.html"> Google Maps</a></li>
				<li><a href="maps_vector.html"> Vector Maps</a></li>
			</ul>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
