<#import "../layout/loginLayout.ftl" as layout>
<@layout.myLayout "Login Page">   
<html>  
<div class="logo">
	<img src="/assets/media/image/logo-big.png" alt="" /> 
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form class="form-vertical login-form" action="/account/login" method="POST">
		<h3 class="form-title">${i18n("login.title")}</h3>
		<div class="alert alert-error hide">
			<button class="close" data-dismiss="alert"></button>
			<span>${i18n("login.notice.title")}</span>
		</div>
		<div class="control-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">${i18n("username")}</label>
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-user"></i>
					<input class="m-wrap placeholder-no-fix" type="text" placeholder="${i18n("username")}" name="username"/>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label visible-ie8 visible-ie9">${i18n("password")}</label>
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-lock"></i>
					<input class="m-wrap placeholder-no-fix" type="password" placeholder="${i18n("password")}" name="password"/>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<label class="checkbox">
				<input type="checkbox" name="remember" value="1"/> ${i18n("login.rememberme")}
			</label>
			<button type="submit" class="btn green pull-right">
				${i18n("login")} <i class="m-icon-swapright m-icon-white"></i>
			</button>            
		</div>
		<div class="forget-password">
			<h4>${i18n("login.notice.missPassword")}</h4>
			<p>
				no worries, click <a href="javascript:;" class="" id="forget-password">here</a>
				to reset your password.
			</p>
		</div>
		<div class="create-account">
			<p>
				Don't have an account yet ?&nbsp; 
				<a href="javascript:;" id="register-btn" class="">${i18n("register")}</a>
			</p>
		</div>
	</form>
	<!-- END LOGIN FORM -->        
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="form-vertical forget-form" action="index.html">
		<h3 class="">${i18n("login.notice.missPassword")}</h3>
		<p>Enter your e-mail address below to reset your password.</p>
		<div class="control-group">
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-envelope"></i>
					<input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email" />
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn">
			<i class="m-icon-swapleft"></i> Back
			</button>
			<button type="submit" class="btn green pull-right">
			Submit <i class="m-icon-swapright m-icon-white"></i>
			</button>            
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
	<!-- BEGIN REGISTRATION FORM -->
	<form class="form-vertical register-form" action="index.html">
		<h3 class="">${i18n("register")}</h3>
		<p>Enter your account details below:</p>
		<div class="control-group">
			<label class="control-label visible-ie8 visible-ie9">${i18n("username")}</label>
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-user"></i>
					<input class="m-wrap placeholder-no-fix" type="text" placeholder="${i18n("username")}" name="username"/>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label visible-ie8 visible-ie9">${i18n("password")}</label>
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-lock"></i>
					<input class="m-wrap placeholder-no-fix" type="password" id="register_password" placeholder="${i18n("password")}" name="password"/>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label visible-ie8 visible-ie9">${i18n("register.reTypePassword")}</label>
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-ok"></i>
					<input class="m-wrap placeholder-no-fix" type="password" placeholder="${i18n("register.reTypePassword")}" name="rpassword"/>
				</div>
			</div>
		</div>
	<div class="control-group">
	<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">${i18n("email")}</label>
		<div class="controls">
			<div class="input-icon left">
				<i class="icon-envelope"></i>
				<input class="m-wrap placeholder-no-fix" type="text" placeholder='${i18n("email")}' name="email"/>
			</div>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
			<input type="checkbox" name="tnc"/> I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
			</label>  
			<div id="register_tnc_error"></div>
		</div>
	</div>
	<div class="form-actions">
		<button id="register-back-btn" type="button" class="btn">
		<i class="m-icon-swapleft"></i>  Back
		</button>
		<button type="submit" id="register-submit-btn" class="btn green pull-right">
		Sign Up <i class="m-icon-swapright m-icon-white"></i>
		</button>            
	</div>
	</form>
	<!-- END REGISTRATION FORM -->
</div>
</@layout.myLayout>